.table {
    width: 100%;
}
.table td {
    text-align: center;
    padding-bottom: 10px;
    
}

.table td:hover {
    background: rgb(171, 173, 26)
}

.table tr:nth-child(even) {
    background: #eee;
}
.table tr:nth-child(odd) {
    background: #eee;
}
.table td:nth-child(2) .table td:nth-child(4){
    background: #fffeee;
}

